
.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(248, 3, 3, 0.794);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.message_h4
{
	padding-left:5px;color:grey;
}

 
#logout
{
 font-size: 20px; 
 float: right;
 margin-top: 20px;
}

img {
    border-radius: 50%;
    height: 80px;
    }

body{
		background-color: paleturquoise;
	}